apiVersion: v1
kind: Namespace
metadata:
  name: team-{{ team_name }}
  labels:
    platform.io/team: {{ team_name }}
  annotations:
    platform.io/contact: {{ contact_email }}
    platform.io/repo: {{ repo_url }}
