apiVersion: v1
kind: ServiceAccount
metadata:
  name: team-{{ team_name }}-admin
  namespace: team-{{ team_name }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: team-{{ team_name }}-admin-binding
  namespace: team-{{ team_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
  - kind: ServiceAccount
    name: team-{{ team_name }}-admin
    namespace: team-{{ team_name }}
